<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Quaver Map Preview - <%= mapId %></title>
    <meta name="robots" content="noindex" />
    <link href="./css/app.css?v=<%= revision %>" rel="stylesheet" media="all">
    <meta name="author" content="AiAe">
</head>
<script src="./js/settings.js?v=<%= revision %>"></script>
<script>
    let doc = <%- resp %>;
</script>
<script src="./plugins/pixi.min.js"></script>
<script src="./objects/PlayField.js?v=<%= revision %>"></script>
<script src="./objects/PlayFieldBorders.js?v=<%= revision %>"></script>
<script src="./objects/Note.js?v=<%= revision %>"></script>
<script src="./objects/LongNote.js?v=<%= revision %>"></script>
<body>
<div id="quaver">
    <div id="bar" class="sidebar">
        <div id="line" style="top: 0px;"></div>
    </div>
</div>
<script src="./js/app.js?v=<%= revision %>"></script>
</body>
</html>